/* Container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* Container dos cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilo do card */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px; /* Largura reduzida para os cards */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Efeito de hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Imagem da camisa */
.imagem-camisa {
  width: 100%;
  height: 190px; /* Altura ajustada */
  object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do card */
}

/* Estilo da informação do card */
.info {
  padding: 10px;
  text-align: center;
}

/* Nome da camisa */
.time {
  font-size: 0.9em; /* Tamanho da fonte reduzido */
  margin: 5px 0;
}

/* Preço da camisa */
.preco {
  font-size: 1em;
  color: #333;
  margin: 5px 0;
}

/* Botão de comprar */
.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9em; /* Tamanho da fonte ajustado */
  
}

.button:hover {
  background-color: #0056b3;
}

/* Estilo para erros */
.erro {
  color: red;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .cards-container {
    justify-content: space-around; /* Ajuste para melhor distribuição dos cards */
  }

  .card {
    width: 30%; /* Reduz a largura dos cards para caber três por linha */
  }

  .button {
    font-size: 0.8em;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .cards-container {
    gap: 10px; /* Reduz o gap entre os cards para caber melhor em telas pequenas */
  }

  .card {
    width: 40%; /* Reduz a largura dos cards para caber três por linha */
  }

  .button {
    font-size: 0.7em;
    padding: 5px 10px;
  }
}
